<!-- Para mostrar y editar la informacion del empleado -->
{% include 'header.html' %}
        Formulario para editar: 


        {% for empleado in empleados %}
            <form action="/update" method="post" enctype="multipart/form-data">

            ID: <input type="text" value="{{empleado.id}}" name="id" id="id"><br><br>

            Nombre: <input type="text" value="{{empleado.nombre}}"  name="nombre" id="idnombre"><br><br>
    
            Correo: <input type="text" value="{{empleado.correo}}" name="correo" id="idcorreo"><br><br>
        
            Foto: <br> <img width="100" class="img-thumbnail" src="{{url_for('uploads', foto_empleado=empleado.foto)}}" alt="Foto empleado para editar"> <br><input type="file" name="foto" id="idfoto"><br><br>
        
            <input type="submit" value="Agregar">
            </form>  
        {% endfor %}    

{% include 'footer.html' %}